body {
    margin: 0;
    background: beige;
    color: darkslategray;
}

main {
    max-width: 600px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: Helvetica;
    text-align: center;
    border-bottom: 1px solid darkslategray;
    padding-bottom: 8px;
}

form input,
form button {
    display: block;
    margin-bottom: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid darkslategray;
}

ul {
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    border-bottom: 1px solid rgb(148, 148, 131);
}

li:nth-child(odd) {
    background: rgb(208, 208, 187);
}

li button {
    background: rgb(255, 118, 118);
    color: white;
    border: 0;
    padding: 4px 8px;
    border-radius: 4px;
}

li button:hover {
    background: rgb(211, 96, 96);
}